# Environment (development/production)
ENV=development

# Database settings
DB_NAME=VK_quiz
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=127.0.0.1
DB_PORT=5432

# Application settings
APP_HOST=127.0.0.1
APP_PORT=8000
APP_RELOAD=True
APP_LOG_LEVEL=debug
APP_PROTOCOL=http
DEBUG=true
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin123

# Security (JWT)
SECRET_KEY=770e3e793fbcc5e8897677c5897654deac1352e794aa42c9245e4f43b8
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7


